# ===============================
# === Datasets y archivos pesados
# ===============================
TalkSHOW/ExpressiveWholeBodyDatasetReleaseV1.0/
TalkSHOW/train_3d_*.pkl
TalkSHOW/test_3d_*.pkl
TalkSHOW/*.pkl
TalkSHOW/*/*.pkl
TalkSHOW/*.tar.gz
TalkSHOW/*/*.tar.gz

# ===============================
# === Checkpoints y modelos
# ===============================
TalkSHOW/**/*.pth
TalkSHOW/experiments/
vocalist/*.pth
vocalist/videos
# ===============================
# === Archivos de audio pesados
# ===============================
TalkSHOW/demo_audio/sidhu.wav
TalkSHOW/demo_audio/background_speech/
TalkSHOW/demo_audio/noise/
TalkSHOW/demo_audio/debug/
TalkSHOW/demo_audio/debug_aug_audio/
TalkSHOW/demo_audio/debug_after/

# ===============================
# === Renders y visualizaciones
# ===============================
TalkSHOW/renders_TalkSHOW_to_Vocalist/
TalkSHOW/visualise/video/

# ===============================
# === Videos y demos
# ===============================
TalkSHOW/vocalist/videos/
TalkSHOW/demo/rich/
TalkSHOW/demo/song/
TalkSHOW/demo/style/

# ===============================
# === Resultados de herramientas
# ===============================
TalkSHOW/wandb/


# Vim temp files
*.swp
*.swl
